<div class="cont-flow">

  <div>
    <img src="./assets/icons/transport.svg" alt="check">

    <div class="text-title">
      <p>
        Información de transporte
      </p>
    </div>
  </div>

  <div>
    <div class="grid-columns-two">
      <div>
        <div class="card">
          <p class="text-title-card text-capitalize">
            {{infoReservation.reserva.detalle | lowercase }}
          </p>

          <div>
            <div class="info-card">
              <span>
                Código del plan:
              </span>

              <p>
                {{infoReservation.reserva.codigo}}
              </p>
            </div>

            <div class="info-card">
              <span>
                Nombre de la persona:
              </span>

              <p>
                {{namePerson}}
              </p>
            </div>

            <div class="info-card">
              <span>
                Fecha:
              </span>

              <p>
               {{infoReservation.reserva.fecha | date :'EEEE , d MMMM \'de\' y'|titlecase}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <form (ngSubmit)="continue()" [formGroup]="dataForm">
          <p class="text-desc-14">
            Selecciona el trayecto que deseas marcar como utilizado:
          </p>

          <div>
            <div>
              <div class="ctn-terms">
                <input type="radio" class="input-terms"
                  formControlName="journey"
                  name="journey"
                  id="going"
                  value="IDA"
                  (change)="validateCheck()"
                  [ngClass]="!infoReservation.disponibilidadTrayecto.ida ? 'disabled' : ''"
                >

                <label for="going" class="label-terms font-16">
                  Transporte de ida
                </label>

                <div class="check-terms"></div>
              </div>
            </div>

            <div class="m-t-check">
              <div class="ctn-terms">
                <input type="radio" class="input-terms"
                  formControlName="journey"
                  name="journey"
                  id="back"
                  value="REGRESO"
                  (change)="validateCheck()"
                  [ngClass]="!infoReservation.disponibilidadTrayecto.regreso ? 'disabled' : ''"
                >

                <label for="back" class="label-terms font-16">
                  Transporte de regreso
                </label>

                <div class="check-terms"></div>
              </div>
            </div>
          </div>

          <div class="btn-transporter">
            <!--[disabled]="!dataForm.valid" [ngClass]="dataForm.valid ? 'enabled' : 'disabled'"-->
            <button class="btn-blue btn-transporter-blue" [disabled]="!dataForm.valid" [ngClass]="dataForm.valid && buttonDisabled ? 'enabled' : 'disabled'">
              Confirmar
            </button>

            <button class="btn-white btn-transporter-white" (click)="return()">
              Volver atrás
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
