<div class="row m-0 j-between a-center ctn-title-content">
  <h1>
    Usuarios transportadores
  </h1>

  <span class="add">
    <a [routerLink]="['/administrador-transporte/transportador']" routerLinkActive="active" class="d-flex">
      Agregar usuario

      <img src="./assets/icons/plus-circle.svg" alt="oval">
    </a>
  </span>
</div>

<app-table [headTable]="headTable">
  <tr *ngFor="let user of transporters" class="d-block">
    <td class="w-55" data-th="">
      <button class="p-relative">
        <label for="{{user.rowKey}}">
          <input class="tooltip-table d-none" type="radio" name="point" id="{{user.rowKey}}">

          <img class="more-vertical" src="./assets/icons/more-vertical.svg" alt="more">

          <div class="despliegue" [ngClass]="showDes ? 'd-block' : 'd-none'">
            <div>
              <button (click)="edit(user.rowKey)" class="edit">
                <img src="./assets/icons/pencil.svg" alt="Modificar">

                Editar
              </button>
            </div>

            <div>
              <button (click)="deleteTransporter(user.rowKey)" class="edit">
                <img src="./assets/icons/x-octagon.svg" alt="Modificar">

                Inhabilitar usuario
              </button>
            </div>
          </div>
        </label>
      </button>
    </td>

    <td class="w-300" data-th="Nombres">
      {{user.nombreCompleto}}
    </td>

    <td class="w-150" data-th="Número de documento">
      {{user.numeroDocumento}}
    </td>
  </tr>
</app-table>
