<div class="cont-flow">
  <div class="col-md-12 col-sm-12 col-xs-12 m-0-auto pdd-0">
    <div class="col-md-6 col-sm-12 col-xs-12 m-0-auto pdd-0">
      <p class="text-title-sub text-center">
        Acerca el código QR a la cámara del computador y encájalo entre este recuadro
      </p>
      <qr-scanner
              [debug]="false"
              [canvasWidth]="1080"
              [canvasHeight]="720"
              [stopAfterScan]="true"
              [updateTime]="500">
      </qr-scanner>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-12 col-xs-12 m-0-auto pdd-0">
      <button class="btn-white btn-person" (click)="backView()" >
        Volver atrás
      </button>
    </div>
  </div>
</div>

<app-modal-spinner [idModal]="idModalSpinner"></app-modal-spinner>
