<div class="logo-ctn">
  <img class="logo-ctn-res" src="./assets/icons/logo-footer.svg" alt="Colsubsidio">
</div>

<div>
  <div class="d-flex f-wrap a-center main-footer">
    <div class="col-xs-12 col-md-12 text-center d-flex pdd-0">
      <img src="./assets/icons/logo-footer.svg" alt="Colsubsidio" class="logo">

      <p class="text-center">
        Todos los derechos reservados © Colsubsidio 2021
      </p>
    </div>
  </div>
</div>

