<div [id]="idModal" aria-hidden="true" class="c-modal">
  <div tabindex="-1" class="c-modal_overlay">
    <div role="dialog"
          aria-modal="true"
          aria-labelledby="modal-1-title"
          class="c-modal_container c-modal_container--info">

      <div class="c-modal_cont">
        <div>
          <img class="spinner" src="./assets/gif/loader.gif" alt="Loader">
        </div>

        <div class="c-modal_cont_loader">
          <h3 class="color-blue-dark">
           Procesando...
          </h3>
        </div>

      </div>
    </div>
  </div>
</div>
