<ng-container *ngIf="errors && errors['required']">
  <span  class="font-12 color-red">
    <img src="./assets/icons/shape.svg" alt="error" class="d-none">
    <ng-content></ng-content>
  </span>
</ng-container>

<ng-container *ngIf="errors && errors['max']">
  <span  class="font-12 color-red">
    <img src="./assets/icons/shape.svg" alt="error" class="d-none">
    El número máximo permitido es {{ errors['max'].max | number }}
  </span>
</ng-container>

<ng-container *ngIf="errors && errors['min']">
  <span  class="font-12 color-red">
    <img src="./assets/icons/shape.svg" alt="error" class="d-none">
    El número minímo permitido es {{ errors['min'].min | number }}
  </span>
</ng-container>

<ng-container *ngIf="errors && errors['pattern']">
  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, numberPattern)">
    <span  class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
        Este campo solo admite números que no empiecen por 0
    </span>
  </ng-container>
</ng-container>

<ng-container *ngIf="errors && errors['minlength']">
  <span class="font-12 color-red">
    <img src="./assets/icons/shape.svg" alt="error" class="d-none">
    Mínimo {{ errors['minlength'].requiredLength }} caracteres.
  </span>
</ng-container>

<ng-container *ngIf="errors && errors['maxlength']">
  <span class="font-12 color-red">
    <img src="./assets/icons/shape.svg" alt="error" class="d-none">
    Máximo {{ errors['maxlength'].requiredLength }} caracteres.
  </span>
</ng-container>

<ng-container *ngIf="errors && errors['pattern']">
  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, cellPhone)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Solo debe contener números, empezar por 3 y debe contener 10 dígitos.
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, validateEmail)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Ingrese un Correo Electrónico válido.
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, validateExt)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Sólo se permiten archivos de Excel.
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, numberPatternAddBeneficiary)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Sólo debe contener números.
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, numberLettersPattern)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Sólo debe contener números y letras.
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, onlyLetters)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Sólo debe contener letras.
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, onlyOtros)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Sólo debe contener números y letras.
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, validateAddress)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Ingrese una Dirección válida. Ej: Calle 80 No 57 96
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, lettersSpaces)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Sólo debe contener letras y no puede iniciar ni finalizar con espacios.
    </span>
  </ng-container>

  <ng-container *ngIf="compareRegex(errors['pattern'].requiredPattern, lettersSpacesSpecials)">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Sólo debe contener letras y no puede iniciar ni finalizar con espacios.
    </span>
  </ng-container>

  <ng-container *ngIf="errors && errors['mustMatch']">
    <span class="font-12 color-red">
      <img src="./assets/icons/shape.svg" alt="error" class="d-none">
      Las contraseñas no coinciden
    </span>
  </ng-container>
</ng-container>
