<div class="d-flex header">
  <div class="col col-6">
    <img class="logo-res" src="./assets/icons/m-logo.svg" alt="Logo">
    <img class="logo" src="./assets/icons/d-logo.svg" alt="Logo">
  </div>

  <div class="col col-6 d-flex j-flex-end">
    <button class="header-logout" (click)="logout()">
      <img src="./assets/icons/exit.svg" alt="">
    </button>

    <button class="menu" (click)="toogleMenu()">
      <img src="./assets/icons/hamburger.svg" alt="">
    </button>
  </div>
</div>
