@font-face {
  font-family: 'source-sans';
  //src: url('./assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/source-sans-pro-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./assets/fonts/source-sans-pro-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/source-sans-pro-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./assets/fonts/source-sans-pro-regular.woff') format('woff'), /* Modern Browsers */
  url('./assets/fonts/source-sans-pro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/fonts/source-sans-pro-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'source-sans-light';
  //src: url('./assets/fonts/SourceSansPro-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/source-sans-pro-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./assets/fonts/source-sans-pro-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/source-sans-pro-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('./assets/fonts/source-sans-pro-300.woff') format('woff'), /* Modern Browsers */
  url('./assets/fonts/source-sans-pro-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/fonts/source-sans-pro-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'source-sans-bold';
  //src: url('./assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/source-sans-pro-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./assets/fonts/source-sans-pro-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/source-sans-pro-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./assets/fonts/source-sans-pro-700.woff') format('woff'), /* Modern Browsers */
  url('./assets/fonts/source-sans-pro-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/fonts/source-sans-pro-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'source-sans-semi-bold';
  //src: url('./assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/source-sans-pro-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./assets/fonts/source-sans-pro-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/source-sans-pro-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('./assets/fonts/source-sans-pro-600.woff') format('woff'), /* Modern Browsers */
  url('./assets/fonts/source-sans-pro-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/fonts/source-sans-pro-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

/**,
*:before,
*:after {
  box-sizing: border-box;
}*/

*:focus {
  outline: 0;
}

html{
  font-size: 16px;
  color: $grayDark;
  font-family: $sourceSans;
  font-weight: $weight400;
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-style: normal;
  margin: 0;
  font-family: $sourceSans;
  font-weight: $weight400;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

[hidden] {
  display: none;
}

a {
  color: currentColor;
  text-decoration: none;
  &:focus, &:active, &:hover {
    outline: transparent;
  }
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  font-weight: $weight400;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  font-family: $sourceSans;
  box-shadow: none;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

select, option {
  -webkit-appearance: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input:focus {
  outline: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
}

i {
  font-size: 1em;
}

h1 {
  font-size: $size26;
  font-family: $sourceSansSemiBold;
  font-weight: $weight600;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: $grayRegular;

  @include mq-min ( medium ) {
    padding-right: 42px;
    padding: 25px 0px 39px 0px;
  }
}

h2 {
  font-size: $size20;
  padding: 24px 0;

  @include mq-min ( medium ) {
    padding: 25px 0px 39px 0px;
  }
}

p, li {
  line-height: 1.4;
}
