<div class="ctn-terms">
  <input type="checkbox" class="input-terms"
    [formControl]="frmControl"
    name="{{ this.nameItem }}"
    id="{{ idItem }}"
    (change)="change()"
  >

  <label [attr.for]="this.idItem" class="label-terms font-16">
    {{text}}
  </label>

  <div class="check-terms"></div>
</div>
