<form [formGroup]="point" >
  <div class="">
    <h2>
      {{ textTitle }}
    </h2>

    <div>
      <div class="grid-columns-four">
        <div>
          <app-input-text
            [frmControl]="point.get('name')"
            [nameItem]="'name'"
            [idItem]="'name'"
            [textLabel]="'Nombre del punto'"
            [type]="'text'"
            [placeHolder]="'Ingresa el nombre del punto'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="point.get('name').touched"
                            [errors]="point.get('name').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>

        <div>
          <app-input-text
            [frmControl]="point.get('address')"
            [nameItem]="'address'"
            [idItem]="'address'"
            [textLabel]="'Dirección'"
            [type]="'text'"
            [placeHolder]="'Ej.: Calle 80 No 57 96'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="point.get('address').touched"
                            [errors]="point.get('address').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>
      </div>

      <div class="grid-columns-four">
        <div>
          <app-input-text
            [frmControl]="point.get('location')"
            [nameItem]="'location'"
            [idItem]="'location'"
            [textLabel]="'Ubicación para mapas'"
            [type]="'text'"
            [placeHolder]="'Ingresa la latitud y la longitud'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="point.get('location').touched"
                            [errors]="point.get('location').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>

        <div>
          <app-input-text
            [frmControl]="point.get('phone')"
            [nameItem]="'phone'"
            [idItem]="'phone'"
            [textLabel]="'Teléfono de contacto'"
            [type]="'text'"
            [placeHolder]="'Ingresa un teléfono'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="point.get('phone').touched"
                            [errors]="point.get('phone').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>
      </div>

      <div class="grid-columns-four">
        <div class="op-disabled point">
          <app-select
            [frmControl]="point.get('company')"
            [nameSelect]="'company'"
            [idSelect]="'company'"
            [textSelect]="'Empresa transportadora'"
          >
          <option value="" disabled data-default>
            Selecciona la empresa
          </option>

            <option *ngFor="let company of companies" [value]="company.numeroDocumento">
              {{ company.nombreCompleto }}
            </option>
          </app-select>

          <div class="text-invalid">
            <app-form-errors *ngIf="point.get('company').touched"
                            [errors]="point.get('company').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>

        <div>
          <app-input-text
            [frmControl]="point.get('exit')"
            [nameItem]="'exit'"
            [idItem]="'exit'"
            [textLabel]="'Horario de salida'"
            [type]="'text'"
            [placeHolder]="'Ej.: 6:00 am – 7:00 am'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="point.get('exit').touched"
                            [errors]="point.get('exit').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>
      </div>

      <div class="grid-columns-two">
        <div class="">
          <label for="recommendations" class="font-14 font-400 ">
            Recomendaciones

            <textarea class="d-block w-100 ctn-i i-text i-no-padding textarea" name="recommendations" id="recommendations" cols="70" rows="3"  formControlName="recommendations"
            placeholder="Ingresa las recomendaciones para los usuarios que contrataron el servicio."></textarea>
          </label>

          <div class="text-invalid">
            <app-form-errors *ngIf="point.get('recommendations').touched"
                            [errors]="point.get('recommendations').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>
      </div>

      <div class="grid-columns-four">
        <button [disabled]="!point.valid" (click)="onSubmit()" class="btn-blue" [ngClass]="point.valid ? 'enabled' : 'disabled'">
          {{ textButton }}
        </button>
      </div>

      <div class="grid-columns-two">
        <div class="line"></div>
      </div>

      <div class="grid-columns-four">
        <a [routerLink]="['/administrador-transporte/puntos-transporte']" routerLinkActive="is-active" class="return">
          <img src="./assets/icons/return.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</form>

<div *ngIf="message !== ''" [ngClass]="showMessage == 'success' ? 'message-success' : 'message-error'">
  <img src="./assets/icons/close-error.svg" alt="X" (click)="closeError()" *ngIf="showMessage == 'error'" >
  <img src="./assets/icons/check-message.svg" alt="check" *ngIf="showMessage == 'success'" >
  <span>
    {{ message }}
  </span>
</div>
