<div class="row m-0 j-between a-center ctn-title-content">
  <h1>
    Puntos de transporte
  </h1>

  <span class="add">
    <a [routerLink]="['/administrador-transporte/punto-transporte']" routerLinkActive="active" class="d-flex">
      Agregar punto

      <img src="./assets/icons/plus-circle.svg" alt="oval">
    </a>
  </span>
</div>

<app-table [headTable]="headTable">
  <tr *ngFor="let point of points" class="d-block">
    <td class="w-55" data-th="">
      <button class="p-relative">
        <label for="{{point.rowKey}}">
          <input class="tooltip-table d-none" type="radio" name="point" id="{{point.rowKey}}">

          <img class="more-vertical" src="./assets/icons/more-vertical.svg" alt="more">

          <div class="despliegue">
            <div>
              <button (click)="edit(point.rowKey)" class="edit">
                <img src="./assets/icons/pencil.svg" alt="Modificar">
                Modificar
              </button>
            </div>

            <div>
              <button (click)="deletePoint(point.rowKey)" class="edit">
                <img src="./assets/icons/delete.svg" alt="Eliminar">

                Eliminar
              </button>
            </div>
          </div>
        </label>
      </button>
    </td>

    <td class="w-134" data-th="Punto de recogida">
      {{point.nombrePunto}}
    </td>

    <td class="w-170" data-th="Dirección">
      {{point.direccion}}
    </td>

    <td class="w-134" data-th="Ubicación para mapas">
      {{point.ubicacionMapa}}
    </td>

    <td class="w-134" data-th="Teléfono de contacto">
      {{point.telefono}}
    </td>

    <td class="w-170" data-th="Empresa transportadora">
      {{ point.nitEmpresa }}
    </td>

    <td class="w-130" data-th="Horario de salida">
      {{ point.horarioSalida }}
    </td>

    <td class="w-400" data-th="Recomendaciones">
      {{ point.recomendaciones }}
    </td>
  </tr>
</app-table>
