<div class="row m-0 j-between a-center ctn-title-content">
  <h1>
    Empresas
  </h1>

  <span class="add">
    <a [routerLink]="['/administrador-transporte/empresa']" routerLinkActive="active" class="d-flex">
      Agregar empresa

      <img src="./assets/icons/plus-circle.svg" alt="oval">
    </a>
  </span>
</div>

<app-table [headTable]="headTable">
  <tr *ngFor="let company of companies" class="d-block">
    <td class="w-55" data-th="">
      <button class="p-relative">
        <label for="{{company.rowKey}}">
          <input class="tooltip-table d-none" type="radio" name="point" id="{{company.rowKey}}">

          <img class="more-vertical" src="./assets/icons/more-vertical.svg" alt="more">

          <div class="despliegue" [ngClass]="showDes ? 'd-block' : 'd-none'">
            <div>
              <a (click)="edit(company.rowKey)" class="edit">
                <img src="./assets/icons/pencil.svg" alt="Modificar">

                Editar
              </a>
            </div>
            <div>
              <a (click)="disabledCompany(company.rowKey)" class="edit">
                <img src="./assets/icons/x-octagon.svg" alt="Inhabilitar">

                Inhabilitar empresa
              </a>
            </div>
          </div>
        </label>
      </button>
    </td>

    <td class="w-267" data-th="Nombre de empresa transportadora">
      {{company.nombreCompleto}}
    </td>

    <td class="w-150" data-th="NIT">
      {{company.numeroDocumento}}
    </td>

    <td class="w-400" data-th="Correo">
      {{company.correo}}
    </td>
  </tr>
</app-table>
