<div class="ctn-fields">
  <div class="ctn-input">

    <div class="card">
      <div class="list">
        <label for="">
          <input type="radio" id="" name="typeIdentification" formControlName="typeIdentification" value="">

          <div class="d-flex space-between p-20">
            nombre

            <span class="check c-blue">
              <img src="./assets/icons/check.svg" alt="check">
            </span>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
