<div class="cont-flow">

  <div>
    <img src="./assets/icons/info-park.svg" alt="check">

    <div class="text-title">
      <p>
        Información de plan
      </p>
    </div>
  </div>

  <div>
    <div>
      <form (ngSubmit)="continue()" [formGroup]="dataForm">
        <div class="card">
          <p class="text-title-card">
            Plan Piscitour
          </p>

          <div class="grid-columns-two seccion-card">
            <div>
              <div class="info-card">
                <span>
                  Código del plan:
                </span>

                <p>
                  PISCI-7846
                </p>
              </div>

              <div class="info-card">
                <span>
                  Nombre de la persona:
                </span>

                <p>
                  Juan Camilo Rodríguez Valdez
                </p>
              </div>
            </div>

            <div>
              <div class="info-card">
                <span>
                  Fecha:
                </span>

                <p>
                  Sábado, 21 de Noviembre de 2020
                </p>
              </div>

              <div class="info-card">
                <span>
                  Otras personas en esta reserva:
                </span>

                <p>
                  María Camila Trochéz Navas
                </p>

                <p>
                  Nicolás Rodríguez Madrid
                </p>
              </div>
            </div>
          </div>

          <div>
            <p class="text-desc-14">
              Estado de redención de servicios:
            </p>

            <div>
              <div>
                <app-checkbox
                  [frmControl]="dataForm.get('going')"
                  [nameItem]="'going'"
                  [idItem]="'going'"
                  [text]="'Transporte de ida'"
                ></app-checkbox>
              </div>

              <div class="m-t-8">
                <app-checkbox
                  [frmControl]="dataForm.get('entry')"
                  [nameItem]="'entry'"
                  [idItem]="'entry'"
                  [text]="'Entrada al parque'"
                ></app-checkbox>
              </div>

              <div class="m-t-8">
                <app-checkbox
                  [frmControl]="dataForm.get('lunch')"
                  [nameItem]="'lunch'"
                  [idItem]="'lunch'"
                  [text]="'Almuerzo'"
                ></app-checkbox>
              </div>

              <div class="m-t-8">
                <app-checkbox
                  [frmControl]="dataForm.get('refreshment')"
                  [nameItem]="'refreshment'"
                  [idItem]="'refreshment'"
                  [text]="'Refrigerio'"
                ></app-checkbox>
              </div>

              <div class="m-t-8">
                <app-checkbox
                  [frmControl]="dataForm.get('back')"
                  [nameItem]="'back'"
                  [idItem]="'back'"
                  [text]="'Transporte de regreso'"
                ></app-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-park">
          <button class="btn-blue btn-park-blue">
            Finalizar
          </button>

          <button class="btn-white btn-park-white">
            Volver atrás
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
