.owl-dt-calendar-table .owl-dt-calendar-cell-disabled>.owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: rgba(0,0,0,0);
}

.owl-dt-inline-container, .owl-dt-popup-container {
  background: #FFFFFF;
  border: 1px solid #E2E8EE;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: none;
}

.owl-dt-calendar-contro {
  background-color: #F6F7FC;
  border-radius: 6px 6px 0px 0px;
  padding: 14px 6px;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider:after {
  content: none;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: transparent;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
  font-size: .7em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1em;
  padding: 14px 18px 22px 5px;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider {
  position: relative;
  height: 0;
  padding-bottom: 0;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-content {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  font-size: .8em;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 999px;
  color: inherit;
  cursor: pointer;
  padding: 14px 18px 22px 5px;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-disabled {
  cursor: default;
  width: 8px !important;
  padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 28px;
  text-align: right !important;
}

.owl-dt-calendar-control {
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 100%;
  padding: .5em;
  color: #000;
  background: #F6F7FC;
  border-radius: 6px 6px 0px 0px;
}
.owl-dt-calendar-cell-active {
  &:hover {
    background-color: transparent;
  }
}

.owl-dt-calendar-table .owl-dt-calendar-cell {
  position: relative;
  height: 28px;
  line-height: 0;
  text-align: center;
  outline: 0;
  color: rgba(0,0,0,.85);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.owl-dt-control-period-button .owl-dt-control-button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  margin: .1em;
  transition: transform .2s ease;
  display: none;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: transparent;

  &:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #cdcdcd91;
    color: #ffffff;
  }
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: transparent;

  &:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #cdcdcd91;
    color: #ffffff;
  }
}

.owl-dt-calendar-cell-active:focus>
.owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected),
.owl-dt-calendar-table :not(.owl-dt-calendar-cell-disabled):hover>
.owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected){
  background-color:transparent !important;
}

.owl-dt-control-arrow-button{
  opacity: 1;

  &:disabled {
    opacity: 0;
  }
}

.owl-dt-control .owl-dt-control-content {
  outline: 0;
  width: 32px;
  height: 32px;
  /* background: #00005B; */
}

.owl-dt-control-arrow-button svg {
  width: 50%;
  height: 50%;
  fill: currentColor;
  color: #00005B;
}

.owl-dt-calendar-control .owl-dt-calendar-control-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #333333;
}
