// Input text, pass y textarea
.ctn-i {
  position: relative;
  margin-top: 7px;

  img {
    position: absolute;
    left: 10px;
    top: 25%;
  }

  .eye {
    left: initial;
    position: absolute;
    right: 10px;
    top: 25%;

    img {
      position: initial;
    }
  }
}

// Input radio
.ctn-fields {
  width: 100%;
  padding: 0;

  /*@include mq-min ( medium ) {
    padding-right: 1rem;
    padding-left: 1rem;
  }*/

  .card {
    background-color: #ffffff;
    border: 1px solid #e2e8ee;
    box-sizing: border-box;
    box-shadow: 0px 3px 13px $grayShadow;
    border-radius: 12px;
    padding: 0;
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 60px;

    /*@include mq-min ( medium ) {
      width: 48%;
      display: inline-block;
      max-width: 48%;
    }*/

    .list {
      display: inline-block;
      line-height: 24px;
      width: 100%;

      &:nth-child(even) {
        margin-right: 23px;
      }

      @media (max-width: 833px) {
        width: 100%;

        &:nth-child(even) {
          margin-right: 0;
        }
      }

      & label{
        margin: 0px auto;
        font-weight: 500;
        height: 30px;
        cursor: pointer;
        transition: all 0.25s linear;

        & input[type=radio],
        & input[type=checkbox]{
          position: absolute;
          visibility: hidden;
        }

        & .check {
          visibility: hidden;
        }

        & input[type=radio]:checked ~ div,
        & input[type=checkbox]:checked ~ div {
          //box-shadow: 0px 0px 3px $blue;
          border-radius: 12px;
          border: 2px solid #00005b;
          max-height: 60px;

          & .check {
            visibility: visible;
          }
        }
      }
    }
  }
}

//Input check
//Input terminos

.ctn-terms {
  position: relative;
  //margin-top: 30px;

  .input-terms[type=checkbox],
  .input-terms[type=radio] {
    position: absolute;
    visibility: hidden;

    &.disabled {
      & ~ .check-terms {
        border: 2px solid $grayDisabled;
        background-color: $grayDisabled;
      }

      & ~ .label-terms {
        color: $grayMedium;
      }

      & ~ .check-terms::before {
        background: url("~src//assets/icons/check.svg") no-repeat center;
      }
    }

    &:checked {

      &:disabled {
        & ~ .check-terms {
          border: 2px solid $grayDisabled;
          background-color: $grayDisabled;
        }

        & ~ .label-terms {
          color: $grayMedium;
        }
      }

      & ~ .check-terms {
        border: 2px solid #00005b;
        background-color: #00005b;
      }

      & ~ .check-terms::before {
        background: url("~src//assets/icons/check.svg") no-repeat center;
      }
    }
  }

  .label-terms {
    display: block;
    position: relative;
    padding: 0px 0px 0px 28px;
    margin: 0px auto;
    font-weight: 500;
    height: auto;
    z-index: 9;
    transition: all 0.25s linear;

    a {
      text-decoration: underline;
    }
  }

  .check-terms {
    display: block;
    position: absolute;
    border: 2px solid $blueDark;
    border-radius: 30%;
    height: 18px;
    width: 18px;
    top: 3px;
    left: -1px;
    z-index: 5;
    transition: border .25s linear;
    background-color: $white;

    &:before {
      display: block;
      position: absolute;
      content: "";
      border-radius: 18%;
      height: 16px;
      width: 16px;
      top: -1px;
      left: -1px;
      transition: background-color 0.25s linear;
    }
  }
}

//
label {
  input[type=radio] ~ .despliegue {
    display: none;
  }

  input[type=radio]:checked ~ .despliegue {
    display: block;
  }

}

input {
  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    font-family: $sourceSans;
    font-weight: $weight400;
  }
}

textarea {
  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    font-family: $sourceSans;
    font-weight: $weight400;
  }
}

select.ng-invalid {
  color: #757575;
}
