.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  color: $white;
  border-radius: 0.4em;
  overflow: hidden;
  display: contents;

  thead {
    background-color: #F6F7FC;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
  }

  tr {
    font-weight: $weight300;
    font-size: $size14;
    color: $grayRegular;
    position: relative;
    padding: 14px 0px;
    min-height: 65px;

    @include mq-min ( medium ) {
      padding: 0;
    }

    &:nth-child(odd) {
      background-color: $blueLight;

      &:before {
        border: 12px solid $blueLight;
        border-bottom: 0.5px solid #D6D6D6;
      }
    }

    &:nth-child(even) {
      background-color: $white;
      &:before {
        border-left: 12px solid $white;
        border-bottom: 0.5px solid #D6D6D6;
        border-right: 60px solid $white;
      }
    }

    &:before {
      content: '';
      height: 100%;
      width: 108%;
      //z-index: -1;
      position: absolute;
      bottom: 0;
      left: -12px;

      @include mq-min ( large ) {
        width: 0;
        height: 0;
        position: relative;
        content: none;
      }
    }
  }

  th {
    display: none;
  }

  td {
    display: initial;
    color: $grayRegular;
    font-weight: $weight500;
    padding-bottom: 14px;
    display: block;
    //width: auto !important;

    @include mq-min ( medium ) {
      padding-bottom: 0;
      display: initial;
    }

    @include mq-max ( large ) {
      width: auto !important;
    }

    &:first-child {
      padding-top: 0.5em;
    }

    &:last-child {
      padding-bottom: 0.5em;
    }

    &:before {
      content: attr(data-th) " ";
      font-weight: $weight600;
      font-family: $sourceSansSemiBold;
      width: 100%;
      display: block;
      padding-bottom: 3px;
    }

    &:nth-child(1) {
      position: absolute;
      right: -27px;

      @include mq-min ( medium ) {
        right: 0;
      }
    }

    button {
      img.more-vertical {
        position: relative;
        top: -7px;
        left: 0px;
        z-index: 0;
        height: 26px;
        width: 38px;

        @include mq-min ( medium ) {
          top: 11px;
        }
      }
    }
  }

  th,
  td {
    text-align: left;
    margin: 0;

    @include mq-min ( medium ) {
      margin: 0.5em 0em;
    }
  }

  th,
  td:before {
    font-size: $size14;
    color: $grayRegular;
    font-family: $sourceSansSemiBold;
    font-weight: $weight600;
  }


  @include mq-min ( medium ) {
    td {
      &:before {
        display: none;
      }

      &:nth-child(1) {
        position: relative;
      }
    }

    th,
    td {
      display: table-cell;
      //padding: 0.25em 0.5em;
      padding: 24px 41px 24px 0px;;
      //padding: $p32;

      &.w-55 {
        padding: 10px 20px 10px 0px;
      }
    }

    th:first-child,
    td:first-child {
      padding-left: 0;
    }

    th:last-child,
    td:last-child {
      padding-right: 0;
    }

    tr {
      &:nth-child(even) {
        background-color: #fbfbfd;
      }

      &:nth-child(odd) {
        background-color: $white;
      }
    }
  }
}

.despliegue {
  position: absolute;
  top: 25%;
  transform: translateY(-29%);
  left: 31px;
  z-index: 200;
  box-sizing: border-box;
  border-radius: 11px;
  box-shadow: 0px 0px 6px #afafaf;
  background-color: $blueLight;
  min-width: 142px;

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    box-shadow: -2.7px 2.7px 3.9px -1.9px #6d6d6d57;
    background-color: $blueLight;
    z-index: -1;
    position: absolute;
    left: 92%;
    transform: rotate(-135deg);
    top: 19%;

    @include mq-min ( medium ) {
      left: -10px;
      transform: rotate(44deg);
      top: 36%;
    }
  }

  @media (max-width: 768px) {
    left: -141px;
  }

  .edit {
    width: 95px;
    display: flex;
    align-items: center;
    font-size: $size14;
    margin: 20px;
    justify-content: space-between;
    color: $blueDark;
    width: min-content;
    text-align: justify;

    &:hover {
      text-decoration: underline;
    }

    img {
      margin-right: 10px;
    }
  }
}


.w {
  &-55 {
    width: 55px;
    padding: 10px 20px 10px 0px;
  }

  &-267 {
    width: 267px;
  }

  &-150 {
    width: 150px;
  }

  &-400 {
    width: 400px;
  }
}
