h1 {
  border-bottom: 1px solid rgb(51 51 51 / 10%);
  width: 100%;
  padding: 12px 0px;
  font-family: $sourceSansSemiBold;
  font-weight: $weight600;

  @include mq-min ( large ) {
    width: auto;
    border-bottom: none;
    padding: 0;
  }
}

.ctn-title-content {
  height: auto;
  align-items: center;

  @include mq-min ( medium ) {
    height: 97px;
  }
}
