<app-error *ngIf="show == 'errorHome'"  [title]="titleHome" [body]="bodyHome" [textButton]="textButton" [link]="link"></app-error>
<app-error *ngIf="show == 'errorPlan'" [title]="titlePlan" [body]="bodyPlan" [textButton]="textButton" [link]="link"></app-error>
