<div class="select">
  <label
    [attr.for]="this.idSelect"
    class="font-14 font-400"
  >
    {{textSelect}}

    <div class="select-ctn">
      <select class="i-text i-no-padding" id="{{ idSelect }}" name="{{ this.nameSelect }}" [formControl]="frmControl">
        <ng-content></ng-content>
      </select>

      <span class="cont-icon">
        <img src="./assets/icons/down-calendar.svg" alt="down">
      </span>
    </div>
  </label>
</div>
