<div class="l-dashboard">
  <header class="l-header">
    <div class="d-flex">
      <div class="col col-6">
        <img class="logo-res" src="./assets/icons/m-logo.svg" alt="Logo">
        <img class="logo" src="./assets/icons/d-logo.svg" alt="Logo">
      </div>
    </div>
  </header>

  <div class="l-content">
    <section>
      <div class="ctn-login d-flex j-center">
        <div class="col-md-3 col-sm-12 col-xs-12 pdd-0">
          <form [formGroup]="form" >
            <div class="">
              <div class="l-title">
                <div class="font-300 font-26 l-title-top">
                  Te damos la bienvenida al
                </div>

                <div class="font-700 font-26 l-title-down">
                  Módulo administrativo de Piscilago
                </div>
              </div>

              <div class="">
                <div class="">
                  <div class="m-b-24">
                    <app-input-text
                      [frmControl]="form.get('userName')"
                      [nameItem]="'userName'"
                      [idItem]="'userName'"
                      [textLabel]="'Usuario'"
                      [type]="'text'"
                      [image]="'./assets/icons/user.svg'"
                      [alt]="'Usuario'"

                    ></app-input-text>
                  </div>
                </div>

                <div class="">
                  <div class="">
                    <app-input-text
                      [frmControl]="form.get('password')"
                      [nameItem]="'password'"
                      [idItem]="'password'"
                      [textLabel]="'Contraseña'"
                      [type]="'password'"
                      [image]="'./assets/icons/lock.svg'"
                      [alt]="'Contraseña'"
                    ></app-input-text>
                  </div>
                </div>


                <div class="m-top">
                  <button [disabled]="!form.valid || loading" (click)="onSubmit()" class="btn-blue" [ngClass]="form.valid ? 'enabled' : 'disabled'">
                    {{loading? 'Ingresando...' : 'Ingresar'}}
                  </button>
                </div>
              </div>

              <div *ngIf="messageAuth!==''" class="message-error">
                <img src="./assets/icons/close-error.svg" alt="X" (click)="closeError()">
                <span>
                  {{ messageAuth }}
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

  <footer class="l-footer">
    <div class="logo-ctn">
      <img class="logo-ctn-res" src="./assets/icons/logo-footer.svg" alt="Colsubsidio">
    </div>

    <div>
      <div class="d-flex f-wrap a-center main-footer">
        <div class="col-xs-12 col-md-12 text-center d-flex">
          <img src="./assets/icons/logo-footer.svg" alt="Colsubsidio" class="logo">

          <p class="text-center">
            Todos los derechos reservados © Colsubsidio 2021
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
