<table class="rwd-table">
	<thead class="d-block">
    <th *ngFor="let item of headTable" [ngStyle]="{'width.px': item.width}">
      {{ item.name }}
    </th>
	</thead>

	<tbody class="d-block">
		<ng-content></ng-content>
	</tbody>
</table>

