<div class="l-dashboard">
  <header class="l-header">
    <app-header (showMenu)="showMenu($event)"></app-header>
  </header>

  <div class="l-content">
    <section>
      <app-nav-dash [ngClass]="(menuObs$ | async ) ? 'show' : 'hide'">
      </app-nav-dash>

      <router-outlet></router-outlet>
    </section>
  </div>

  <footer class="l-footer">
    <app-footer></app-footer>
  </footer>
</div>
