<div class="transaction">
  <div class="row m-0 j-between a-center ctn-title-content title">
    <h1>
      Transacciones
    </h1>
  </div>

  <form (ngSubmit)="continue()" [formGroup]="dataForm" [ngClass]="closeFil ? 'd-block' : ''">
    <div class="d-flex j-between header-filter">
      <div>
        Filtros
      </div>

      <div (click)="closeFilter('cerrar')">
        <img src="./assets/icons/close.svg" alt="X">
      </div>
    </div>

    <div class="grid-columns-five grid">
      <div>
        <app-input-text
          [frmControl]="dataForm.get('transporter')"
          [nameItem]="'transporter'"
          [idItem]="'transporter'"
          [textLabel]="'Filtros'"
          [type]="'text'"
          [image]="'./assets/icons/search-gray.svg'"
          [placeHolder]="'Busca por código de la reserva o identificación del titular'">
        </app-input-text>

        <div class="text-invalid">
          <app-form-errors *ngIf="dataForm.get('transporter').touched"
                          [errors]="dataForm.get('transporter').errors">
            Campo obligatorio
          </app-form-errors>
        </div>
      </div>

      <div class="font-14">
        Desde:
        <div class="cont-calendar"
        [owlDateTimeTrigger]="dtb">
            <input
              [min]="minCon"
              [max]="maxCon"
              [placeholder]="''"
              formControlName="since"
              [owlDateTimeTrigger]="dtb"
              [owlDateTime]="dtb"
              required
              readonly
              class="i-text date-ph pdd-x-22"/>
              <span class="cont-icon">
                <img src="./assets/icons/down-calendar.svg" alt="down" [owlDateTimeTrigger]="dtb">
              </span>
          <owl-date-time
            [pickerType]="'calendar'"
            #dtb
          ></owl-date-time>
        </div>
      </div>

      <div class="font-14">
        Hasta:
        <div class="cont-calendar"
        [owlDateTimeTrigger]="dtc">
            <input
              [min]="minCon2"
              [max]="maxCon2"
              [placeholder]="''"
              formControlName="until"
              [owlDateTimeTrigger]="dtc"
              [owlDateTime]="dtc"
              required
              readonly
              class="i-text date-ph pdd-x-22"/>
              <span class="cont-icon">
                <img src="./assets/icons/down-calendar.svg" alt="down" [owlDateTimeTrigger]="dtc">
              </span>
          <owl-date-time
            [pickerType]="'calendar'"
            #dtc
          ></owl-date-time>
        </div>
      </div>

      <div class="btn">
        <button class="btn-blue">
          Consultar
        </button>
      </div>

    </div>
  </form>

  <div class="export">
    <div class="btn-filter">
      <button (click)="closeFilter('abrir')" class="d-flex">
        <span>
          Filtrar
        </span>

        <img src="./assets/icons/search.svg" alt="Lupa">
      </button>
    </div>

    <div class="ctn-export">
      <span class="add">
        <a class="d-flex">
          Exportar reporte

          <img src="./assets/icons/export.svg" alt="export">
        </a>
      </span>
    </div>
  </div>

  <app-table [headTable]="headTable">
    <tr *ngFor="let transaction of transactions" class="d-block">
      <td class="pdd-0" data-th="">
      </td>

      <td class="w-170" data-th="Punto de recogida">
        {{transaction.nombre}}
      </td>

      <td class="w-170" data-th="Código de la reserva">
        {{transaction.nombre}}
      </td>

      <td class="w-170" data-th="Número de documento">
        {{transaction.nombre}}
      </td>

      <td class="w-230" data-th="Nombres y apellidos cliente">
        {{ transaction.nombre }}
      </td>

      <td class="w-150" data-th="Empresa transportadora">
        {{ transaction.nombre }}
      </td>

      <td class="w-400" data-th="Punto de recogida">
        {{ transaction.nombre }}
      </td>

      <td class="w-400" data-th="Número de documento del conductor">
        {{ transaction.nombre }}
      </td>
    </tr>
  </app-table>
</div>
