<div class="transaction">
  <div class="row m-0 j-between a-center ctn-title-content">
    <h1>
      Configuración
    </h1>
  </div>

  <form [formGroup]="dates" class="border-form">
    <div class="grid-columns-three">
      <div class="font-14">
        Desde:
        <div class="cont-calendar"
        [owlDateTimeTrigger]="dtb">
            <input
              [min]="minCon"
              [max]="maxCon"
              [placeholder]="''"
              formControlName="since"
              [owlDateTimeTrigger]="dtb"
              [owlDateTime]="dtb"
              required
              readonly
              class="i-text date-ph pdd-x-22"/>
              <span class="cont-icon">
                <img src="./assets/icons/down-calendar.svg" alt="down" [owlDateTimeTrigger]="dtb">
              </span>
          <owl-date-time
            [pickerType]="'calendar'"
            #dtb
          ></owl-date-time>
        </div>
      </div>

      <div class="font-14">
        Hasta:
        <div class="cont-calendar"
        [owlDateTimeTrigger]="dtc">
            <input
              [min]="minCon2"
              [max]="maxCon2"
              [placeholder]="''"
              formControlName="until"
              [owlDateTimeTrigger]="dtc"
              [owlDateTime]="dtc"
              required
              readonly
              class="i-text date-ph pdd-x-22"/>
              <span class="cont-icon">
                <img src="./assets/icons/down-calendar.svg" alt="down" [owlDateTimeTrigger]="dtc">
              </span>
          <owl-date-time
            [pickerType]="'calendar'"
            #dtc
          ></owl-date-time>
        </div>
      </div>
    </div>

    <div class="grid-columns-five-equal">
      <div class="btn">
        <button class="btn-blue" [disabled]="!dates.valid" [ngClass]="dates.valid ? 'enabled' : 'disabled'">
          Aplicar
        </button>
      </div>
    </div>

  </form>

  <form [formGroup]="purchase" class="border-form">
    <label _ngcontent-iyv-c107="" class="font-14 font-400"> Número máximo de compras con beneficio por invitados en un mes:</label>
    <div class="grid-columns-five-equal">
      <div>
        <app-select
          [frmControl]="purchase.get('purchase')"
          [nameSelect]="'purchase'"
          [idSelect]="'purchase'"
          [textSelect]="''"
        >
          <option value="" disabled selected>

          </option>

          <option *ngFor="let transaction of transactions" [value]="transaction.nombre">
            {{ transaction.nombre }}
          </option>
        </app-select>

        <div class="text-invalid">
          <app-form-errors *ngIf="purchase.get('purchase').touched"
                           [errors]="purchase.get('purchase').errors">
            Campo obligatorio
          </app-form-errors>
        </div>
      </div>
    </div>

    <div class="grid-columns-five-equal">
      <div class="btn">
        <button class="btn-blue" [disabled]="!purchase.valid" [ngClass]="purchase.valid ? 'enabled' : 'disabled'">
          Aplicar
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="infants" class="border-form">
    <div class="grid-columns-five-equal">
      <div>
        <app-select
          [frmControl]="infants.get('infantsAge')"
          [nameSelect]="'infantsAge'"
          [idSelect]="'infantsAge'"
          [textSelect]="'Edad máxima de infantes:'"
        >
          <option value="" disabled selected>

          </option>

          <option *ngFor="let transaction of transactions" [value]="transaction.nombre">
            {{ transaction.nombre }}
          </option>
        </app-select>

        <div class="text-invalid">
          <app-form-errors *ngIf="purchase.get('purchase').touched"
                           [errors]="purchase.get('purchase').errors">
            Campo obligatorio
          </app-form-errors>
        </div>
      </div>
    </div>

    <div class="grid-columns-five-equal">
      <div class="btn">
        <button class="btn-blue" [disabled]="!infants.valid" [ngClass]="infants.valid ? 'enabled' : 'disabled'">
          Aplicar
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="addUser">
  </form>
</div>
