.tar {
  background: linear-gradient(
    to right, #d6d6d6 50%,rgba(255, 255, 255, 0) 0%),
    linear-gradient(#d6d6d6 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #d6d6d6 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(#d6d6d6 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 13px 1px, 1px 13px;

  border-radius: 3px;
  padding: 14px 24px;

  &-title {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #333333;
    display: flex;
    align-items: center;

    img {
      padding-right: 20px;
    }
  }

  li {
    list-style: inside;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #333333;
    padding: 15px 0px 24px 0px;
  }
}
