<form [formGroup]="user" >
  <div class="">
    <h2>
      {{ textTitle }}
    </h2>

    <div>
      <div class="grid-columns-four">
        <div>
          <app-input-text
            [frmControl]="user.get('names')"
            [nameItem]="'names'"
            [idItem]="'names'"
            [textLabel]="'Nombres y Apellidos *'"
            [type]="'text'"
            [placeHolder]="'Ingresa aquí los nombres completos'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="user.get('names').touched"
                            [errors]="user.get('names').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>

        <!--
          <div>
            <app-input-text
              [frmControl]="user.get('surnames')"
              [nameItem]="'surnames'"
              [idItem]="'surnames'"
              [textLabel]="'Apellidos *'"
              [type]="'text'"
            ></app-input-text>
          </div>-->

        <div>
          <app-input-text
            [frmControl]="user.get('documentNumber')"
            [nameItem]="'documentNumber'"
            [idItem]="'documentNumber'"
            [textLabel]="'Número de documento *'"
            [type]="'text'"
            [placeHolder]="'Ingresa aquí el número de documento'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="user.get('documentNumber').touched"
                            [errors]="user.get('documentNumber').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>
      </div>

      <div class="grid-columns-two">
        <div class="tar">
          <div class="tar-title">
            <img src="./assets/icons/group.svg" alt="grupo">

            Notas aclaratorias
          </div>

          <ul>
            <li>
              Recuérdale a tus conductores que el usuario y contraseña de ingreso será su número de documento.
            </li>
          </ul>
        </div>
      </div>

      <div class="grid-columns-four">
        <button [disabled]="!user.valid" (click)="onSubmit()" class="btn-blue" [ngClass]="user.valid ? 'enabled' : 'disabled'">
          {{ textButton }}
        </button>
      </div>

      <div class="grid-columns-two">
        <div class="line"></div>
      </div>

      <div class="grid-columns-four">
        <a [routerLink]="['/administrador-transporte/transportadores']" routerLinkActive="is-active" class="return">
          <img src="./assets/icons/return.svg" alt="">
        </a>
      </div>
    </div>

    <div *ngIf="message !== ''" [ngClass]="showMessage == 'success' ? 'message-success' : 'message-error'">
      <img src="./assets/icons/close-error.svg" alt="X" (click)="closeError()" *ngIf="showMessage == 'error'" >
      <img src="./assets/icons/check-message.svg" alt="check" *ngIf="showMessage == 'success'" >
      <span>
        {{ message }}
      </span>
    </div>
  </div>
</form>
