// Align items
.a {
  &-center {
    align-items: center;
  }
}

// Backgrounds
.bg {
  background-position: center center;
  background-size: cover;

  &-white {
    background-color: $white;
  }
}

// Buttons
.btn {
  &-blue {
    background: $blueDark;
    border-radius: 12px;
    padding: 15px 16px;
    width: 100%;
    color: $white;
    font-size: $size20;
    font-family: $sourceSansSemiBold;
    font-weight: $weight600;
  }

  &-white {
    background: $white;
    border-radius: 12px;
    padding: 15px 16px;
    width: 100%;
    color: $blueDark;
    font-size: $size20;
    border: 1px solid $blueDark;
    font-family: $sourceSansSemiBold;
    font-weight: $weight600;
  }
}

//Border
.border-form {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

// Colors
.color {
  &-white {
    color: $white;
  }

  &-red {
    color: $red;
  }
}

// Cols
.col {
  padding-right: 24px;
  padding-left: 0;

  @include mq-min ( medium ) {
    padding-right: 42px;
  }

  &:last-child {
    padding-right: 0;
  }

  &-6 {
    flex: 6;
  }

  &-md-12, &-sm-12, &-xs-12 {
    padding: 0;

    @include mq-min ( medium ) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}

.card {
  background: $white;
  border: 1px solid $grayShadow;
  box-sizing: border-box;
  box-shadow: 0px 3px 13px $grayShadow;
  border-radius: 11px;
  padding: 24px 12px;

  @include mq-min ( medium ) {
    padding: 24px 18px;
  }
}

// Displays
.d {
  &-block {
    display: block;
  }

  &-flex {
    display: flex;
  }

  &-none {
    display: none;
  }
}

// Fonts
.font {
  // Weight
  &-300 {
    font-weight: $weight300;
  }

  &-400 {
    font-weight: $weight400;
  }

  &-600 {
    font-weight: $weight600;
  }

  &-700 {
    font-weight: $weight700;
  }

  // Size
  &-12 {
    font-size: $size12;
  }

  &-14 {
    font-size: $size14;
  }

  &-24 {
    font-size: $size24;
  }

  &-26 {
    font-size: $size26;
  }
}

// Flex
.f {
  &-wrap {
    flex-wrap: wrap;
  }

  &-no-wrap {
    flex-wrap: nowrap;
  }
}

//Input
.i {
  &-text {
    height: 36px;
    background: $white;
    border: 1px solid $grayLight;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    font-family: $sourceSans;
    font-weight: $weight400;
    appearance: none;
  }

  &-padding {
    padding-left: 35px;
  }

  &-no-padding {
    padding: 0px 12px;
  }
}

// justify
.j {
  &-center {
    justify-content: center;
  }

  &-flex-end {
    justify-content: flex-end;
  }

  &-between {
    justify-content: space-between;
  }
}

//margin
.m {
  &-0 {
    margin: 0;

    &-auto {
      margin: 0 auto;
    }
  }

  &-r{
    &-36 {
      margin-right: 36px;
    }

    &-18 {
      margin-right: 18px;
    }
  }

  &-l{
    &-36 {
      margin-left: 36px;
    }

    &-18 {
      margin-left: 18px;
    }
  }

  &-b{
    &-24 {
      margin-bottom: 24px;
    }

    &-36 {
      margin-bottom: 36px;
    }

    &-60 {
      margin-bottom: 60px;
    }
  }

  &-t {
    &-8 {
      margin-top: $m8;
    }

    &-9 {
      margin-top: $m9;
    }
  }

  &-v {
    &-12 {
      margin: 12px 0px;
    }
  }
}

// Padding
.pdd{
  &-10{
    padding: 10px;
  }

  &-0{
    padding: 0;
  }

  &-18 {
    padding: 18px;
  }

  &-y {
    &-20{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &-x {
    &-25{
      padding-left: 50px;
      padding-right: 50px;
    }

    &-22 {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  &-l {
    &-10{
      padding-left: 10px;
    }
  }

  &-t {
    &-25 {
      padding-top: 25px;
    }

    &-150 {
      padding-top: 150px;
    }

    &-400 {
      padding-top: 400px;
    }
  }

  &-btm {
    &-30{
      padding-bottom: 30px;
    }
  }
}

// Position
.p {
  &-absolute{
    position: absolute;
  }

  &-relative {
    position: relative;
  }
}

// Radius
.radius {
  &-50 {
    border-radius: 50%;
  }
}

// Text
.text {
  // Align
  &-center {
    text-align: center;
  }

  // Transform
  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }
}

// widths
.w {
  &-100{
    width: 100%;
  }
}

//add
.add {
  padding: 36px 0px 24px 0px;
    font-family: $sourceSansSemiBold;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: $blueDark;
  width: 100%;
  font-weight: $weight600;

  @include mq-min ( medium ) {
    width: auto;
    padding: 0;
  }

  img {
    padding-left: 8px;
  }
}

.select {
  &-ctn {
    position: relative;
    margin-top: 7px;
  }
}

.text-invalid {
  //margin-bottom: 24px;
}

.line {
  background: #333333;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 1px;
  height: 1px;
  margin: 42px 0px;
}

.return {
  padding-bottom: 46px;
}

.message {
  background-color: $green;
  padding: 20px;
  margin-top: 20px;
  color: $white;
  border-radius: 10px;
}

.enabled {
  opacity: 1;
}

.disabled {
  background-color: $grayDisabled;
  font-family: $sourceSansSemiBold;
  font-weight: $weight600;
}

//cont
.cont {

  &-center {
    @include mq-max(medium) {
      width: 90%;
      margin: auto;
    }

    &-button {
      width: 90%;
      margin: auto;
      margin-top: 24px;
      margin-bottom: 44px;
    }

    &-bt {
      width: 177px;
      margin: auto;
      margin-top: 24px;
      margin-bottom: 44px;
    }
  }

  &-icon {
    float: right;
    position: relative;
    margin-right: 6px;
    margin-top: -32px;
    color: $blueDark;
    pointer-events: none;
    margin-right: 22px;
  }

  &-calendar {
    margin-top: $m12;
    @include mq-max(medium) {
      margin-top:  $m8;
    }
  }

  &-sec {
    padding-top: $p60;
    width: 934px;
    margin: auto;

    @include mq-max(large) {
      width: 720px;
    }

    @include mq-max(medium) {
      width: 90%;
      padding-top: $p42;
    }
  }

  &-flow {
    width: 100%;
    padding-top: $p42;

    &-point {
      margin-bottom: $p70;

      @include mq-min(medium) {
        margin-bottom: 52px;
      }
    }

    @include  mq-min(medium) {
      padding-top: $p60;
      width: 740px;
      margin: auto;
    }

    &-map {
      @include mq-max(medium) {
        padding-top: $p30;
      }
    }
  }

  &-white {
    padding-top: $p36;
    padding-bottom: $p60;
    width: 740px;
    margin: auto;

    @include mq-max(medium) {
      width: 90%;
      padding-top: $p32;
      padding-bottom: $p30;
    }
  }
}

.point {
  .cont-icon {
    margin-top: -28px;
    margin-right: 16px;
  }
}

//message
.message {
  &-error {
    position: fixed;
    z-index: 300;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: $weight500;
    padding: 3px 15px;
    font-size: $size14;
    width: 100%;
    background: $white;
    border-radius: 8px;
    color: $red;
    display: flex;
    align-items: center;
    height: 48px;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(203, 6, 29, 0.2);
      position: absolute;
      left: 0;
      z-index: -1;
      width: 100%;
      border: 1px solid $red;
      border-radius: 8px;
      color: $green;
    }

    @include mq-min(medium) {
      width: 420px;
      height: 53px;
      top: 73px;
    }

    img {
      margin-right: 12px;
      cursor: pointer;
    }
  }

  &-success {
    position: fixed;
    z-index: 300;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: $weight500;
    padding: 3px 15px;
    font-size: $size14;
    width: 100%;
    background: $white;
    border-radius: 8px;
    color: $green;
    display: flex;
    align-items: center;
    height: 48px;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $white;
      position: absolute;
      left: 0;
      z-index: -1;
      width: 100%;
      background: rgba(39, 174, 96, 0.2);
      border: 1px solid $green;
      border-radius: 8px;
      color: $green;
    }

    @include mq-min(medium) {
      width: 420px;
      height: 53px;
      top: 73px;
    }

    img {
      margin-right: 12px;
      cursor: pointer;
    }
  }
}

//textarea
.textarea {
  padding: 12px 12px;
  height: auto;
}

