.grid {
  &-columns {
    &-two {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(auto, auto);
      grid-column-gap: 36px;
      grid-row-gap: 24px;
      margin-bottom: 24px;

      @include mq-min ( medium ) {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 18px;
        margin-bottom: 30px;
      }
    }

     &-three {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(auto, auto);
      grid-column-gap: 36px;
      grid-row-gap: 24px;
      margin-bottom: 24px;

      @include mq-min ( medium ) {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 18px;
        margin-bottom: 30px;
      }
    }

    &-five-equal {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(auto, auto);
      grid-column-gap: 36px;
      grid-row-gap: 24px;
      margin-bottom: 24px;

      @include mq-min ( medium ) {
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 18px;
        margin-bottom: 30px;
      }
    }

    &-five {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(auto, 78px);
      grid-column-gap: 36px;
      grid-row-gap: 24px;
      margin-bottom: 24px;

      @include mq-min ( medium ) {
        grid-template-columns: 352px 158px 158px 158px 1fr;
        grid-row-gap: 18px;
        margin-bottom: 30px;
      }
    }

    &-four {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(auto, auto);
      grid-column-gap: 36px;
      grid-row-gap: 24px;
      margin-bottom: 24px;

      @include mq-min ( medium ) {
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 18px;
        margin-bottom: 30px;
      }
    }
  }
}
