.l {
  &-dashboard {
    min-height: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "content" "footer";
  }

  &-header {
    grid-area: header;
    background-color: $white;
    padding: 18px 12px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;

    @include mq-min(medium) {
      padding: 14px 31px;
    }

    .menu {
      margin-left: 10px;
      padding-left: 5px;
      display: block;

      @include mq-min(medium) {
        display: none;
      }
    }
  }

  &-content {
    grid-area: content;
    background-color: $blueRegular;
    padding: 12px;
    position: relative;
    margin-top: 70px;
    overflow-x: hidden;

    @include mq-min(medium) {
      padding: 10px 36px;
      margin-top: 72px;
    }

    .show {
      opacity: 1;
      visibility: visible;
      transition: all 0.1s ease-in-out;
      transform: translateX(100%);
    }

    .hide {
      opacity: 0;
      visibility: hidden;
      transition: all 0.1s ease-in-out;
      transform: translateX(-100%);

      @include mq-min(medium) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-footer {
    grid-area: footer;
    background-color: $white;
    font-size: $size12;
    padding: 0px 12px;

    @include mq-min(medium) {
      padding: 0px 36px;
    }
  }
}

.header {
  &-logout {
    display: none;

    @include mq-min(medium) {
      display: block;
    }
  }
}

.logo {
  display: none;

  @include mq-min(medium) {
    display: block;
  }

  &-res {
    display: initial;

    @include mq-min(medium) {
      display: none;
    }
  }

  &-ctn {
    background-color: #fafbfd;
    display: block;
    text-align: center;
    height: 45px;
    line-height: 55px;

    @include mq-min(medium) {
      display: none;
    }
  }
}

.main-footer {
  height: 45px;

  @include mq-min(medium) {
    height: 78px;
  }

  div {
    justify-content: center;

    @include mq-min(medium) {
      justify-content: space-between;
    }
  }
}

.btn {
  &-buy {
    display: none;

    @include mq-min(medium) {
      display: block;
    }
  }
}
