.c-modal {
    position: relative;
    display: none;
    z-index: 100;

    &.is-open {
        display: block;
    }

    &_overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#EFEFEF, .9);
        display: flex;
        justify-content: center;
        align-items: center;
        //opacity: 0;
        animation: fadeOut .3s linear forwards;
        .is-open & {
            animation: fadeIn .2s linear forwards;
        }
    }

    &_container {
        position: relative;
        background-color: #fff;
        padding: 100px 100px 40px 100px;
        border-radius: 10px;
        width: 284px;
        padding: 30px 12px;
        height: 350px;

        @include mq-min ( medium ) {
          height: 310px;
          width: 521px;
          padding: 30px;
          position: relative;
        }

        .is-open &{
          animation: fadeInDown .3s linear forwards;
        }
    }

    &_cont {
      text-align: center;

      &_close {
        position: absolute;
        top: 3%;
        right: 6.2%;
      }

      &_title {
        margin: 18px 0;

        @include mq-min ( medium ) {
          margin: 24px 0px 30px 0px;
        }

        h3 {
          font-size: $size20;
          line-height: 26px;
          letter-spacing: -0.25px;
          color: $grayDark;
          font-weight: $weight400;
        }
      }

      &_loader {
        font-weight: $weight300;
        font-size: $size20;
        line-height: 26px;
        letter-spacing: -0.25px;
        font-family: $sourceSansLight;
      }

      .description {
        font-family: $sourceSansLight;
        font-weight: $weight300;
        color: $grayDark;
      }

      .btn-modal {
        margin-bottom: 0;
        margin-top: 22px;
        width: 114px;
        height: 54px;
        display: inline-block;

        @include mq-min ( medium ) {
          height: 54px;
          width: 250px;
          margin-top: 40px;
          margin-bottom: 0;
        }
      }
    }

    &_circle {
        position: absolute;
        width: 90px;
        height: 90px;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        background-color: white;
        border:15px solid darken($grayLight, 2%);
        margin: auto;
        transform: translateY(-50%);
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &_btns {
        margin-top: 25px;
        margin-bottom: 20px;
        .u-btn {
            min-width: inherit;
            margin: 5px 8px;
            padding: 10px 35px;
        }
    }

    .u-btn--trans {
        i {
            vertical-align: middle;
        }
    }
}

.spinner {
  width: 5rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 1rem;

  @include mq-max ( medium ) {
    padding-top: 4rem;
  }
}
