.text {
  &-title {
    margin: 23px 0px 30px 0px;
    font-size: $size26;
    line-height: 32px;
    letter-spacing: -0.5px;
    font-family: $sourceSansSemiBold;
    font-weight: $weight600;

    &-sub {
      margin-bottom: 22px;
      font-size: $size20;
      line-height: 26px;
      letter-spacing: -0.25px;
      font-family: $sourceSans;
      font-weight: $weight400;
    }

    &-card {
      font-size: 26px;
      line-height: 32px;
      letter-spacing: -0.5px;
      font-family: $sourceSansSemiBold;
      font-weight: $weight600;
    }
  }

  &-desc-14 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 13px;
  }

  &-desc-16 {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 100px;
  }
}
