<div class="transaction">
  <div class="row m-0 j-between a-center ctn-title-content title">
    <h1>
      Liquidación
    </h1>
  </div>

  <form (ngSubmit)="continue()" [formGroup]="dataForm" [ngClass]="closeFil ? 'd-block' : ''">
    <div class="d-flex j-between header-filter">
      <div>
        Filtros
      </div>

      <div (click)="closeFilter('cerrar')">
        <img src="./assets/icons/close.svg" alt="X">
      </div>
    </div>

    <div class="grid-columns-five grid">
      <div>
        <app-select
          [frmControl]="dataForm.get('point')"
          [nameSelect]="'point'"
          [idSelect]="'point'"
          [textSelect]="'Punto de recogida:'"
        >
          <option value="" disabled selected>Seleccione una opción</option>
          <option *ngFor="let point of listPoints" [value]="point.rowKey">
            {{ point.nombrePunto }}
          </option>
        </app-select>

        <div class="text-invalid">
          <app-form-errors *ngIf="dataForm.get('point').touched"
                          [errors]="dataForm.get('point').errors">
            Campo obligatorio
          </app-form-errors>
        </div>
      </div>

      <div class="font-14">
        Desde:
        <div class="cont-calendar"
        [owlDateTimeTrigger]="dtb">
            <input
              [placeholder]="''"
              formControlName="since"
              [owlDateTimeTrigger]="dtb"
              [owlDateTime]="dtb"
              required
              readonly
              class="i-text date-ph pdd-x-22"/>
              <span class="cont-icon">
                <img src="./assets/icons/down-calendar.svg" alt="down" [owlDateTimeTrigger]="dtb">
              </span>
          <owl-date-time
            [pickerType]="'calendar'"
            #dtb
          ></owl-date-time>
        </div>
      </div>

      <div class="font-14">
        Hasta:
        <div class="cont-calendar"
        [owlDateTimeTrigger]="dtc">
            <input
              [placeholder]="''"
              formControlName="until"
              [owlDateTimeTrigger]="dtc"
              [owlDateTime]="dtc"
              required
              readonly
              class="i-text date-ph pdd-x-22"/>
              <span class="cont-icon">
                <img src="./assets/icons/down-calendar.svg" alt="down" [owlDateTimeTrigger]="dtc">
              </span>
          <owl-date-time
            [pickerType]="'calendar'"
            #dtc
          ></owl-date-time>
        </div>
      </div>

      <div class="btn">
        <button class="btn-blue">
          Consultar
        </button>
      </div>

    </div>
  </form>

  <div class="export">
    <div class="btn-filter">
      <button (click)="closeFilter('abrir')" class="d-flex">
        <span>
          Filtrar
        </span>

        <img src="./assets/icons/search.svg" alt="Lupa">
      </button>
    </div>

    <div class="ctn-export">
      <span class="add">
        <a class="d-flex" (click)="exportCsv()">
          Exportar reporte

          <img src="./assets/icons/export.svg" alt="export">
        </a>
      </span>
    </div>
  </div>

  <app-table [headTable]="headTable">
    <tr *ngFor="let settlement of listSettlement" class="d-block">
      <td class="pdd-0" data-th="">
      </td>

      <td class="w-170" data-th="Fecha de transporte">
        {{ settlement.reserva?.fecha | date: 'dd MMM yyyy' }}
      </td>

      <td class="w-170" data-th="Código de la reserva">
        {{settlement.reserva?.codigo}}
      </td>

      <td class="w-230" data-th="Número de documento">
        {{ settlement.cliente?.numDoc }}
      </td>

      <td class="w-150" data-th="Nombre y apellido cliente">
        {{ (settlement.cliente?.primerNombre) ? settlement.cliente?.primerNombre : '' }}
        {{ (settlement.cliente?.primerApellido) ? settlement.cliente?.primerApellido : '' }}
      </td>

      <td class="w-400" data-th="Empresa transportadora">
        {{ settlement.reserva?.transporte?.transportadora?.nombreCompleto }}
      </td>

      <td class="w-400" data-th="Punto de recogida">
        {{ settlement.reserva?.transporte?.puntoRecogida }}
      </td>

      <td class="w-230" data-th="Nombre del conductor">
        {{ settlement.reserva?.transporte?.transportador?.nombreCompleto }}
      </td>

      <td class="w-150" data-th="Fecha y hora de ida">
        {{ settlement.reserva?.transporte?.fechaIda | date: 'dd MMM yyyy  h:mm a' }}
      </td>

      <td class="w-400" data-th="Fecha y hora de regreso">
        {{ settlement.reserva?.transporte?.fechaRegreso | date: 'dd MMM yyyy  h:mm a' }}
      </td>

      <td class="w-400" data-th="Número de doc. del conductor">
        {{ settlement.reserva?.transporte?.transportador?.numDoc }}
      </td>
    </tr>
  </app-table>
</div>
