.seccion-card {
  border-bottom: 1px solid $grayShadow;
  padding-bottom: 24px;
}

.btn-park {
  margin-top: 32px;
  text-align: center;

  &-blue {
    margin-top: 8px;

    @include mq-min ( medium ) {
      width: 330px;
      display: block;
      margin: 0 auto;
    }
  }

  &-white {
    margin-top: 30px;

    @include mq-min ( medium ) {
      margin: 0 auto;
      margin-top: 23px;
      width: 330px;
      display: block;
    }
  }
}
