.btn-transporter {
  margin-top: 33px;

  &-blue {
    padding: 15px 16px;
  }

  &-white {
    margin-top: 24px;
    padding: 15px 16px;
  }
}

.m-t-check {
  margin-top: 20px;

  @include mq-min ( medium ) {
    margin-top: 9px;
  }
}
