.w {
  &-70 {
    width: 102px;
  }

  &-150 {
    width: 150px;
  }

  &-170 {
    width: 170px;
  }

  &-230 {
    width: 230px;
  }

  &-240 {
    width: 240px;
  }
}

.transaction {
  position: relative;

  .title {
    display: block;

    @include mq-min ( medium ) {
      display: none;
    }
  }

  .export {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq-min ( medium ) {
      display: block;
    }

    .btn-filter {
      display: block;
      text-decoration: underline;
      padding: 36px 0px 24px 0px;
      margin-bottom: 19px;

      @include mq-min ( medium ) {
        display: none;
      }

      span {
        color: $blueDark;
        font-family: $sourceSansSemiBold;
        font-weight: $weight600;
      }
    }

    .ctn-export {
      margin-bottom: 19px;
      display: flex;
      justify-content: flex-end;

      .add {
        cursor: pointer;
      }
    }
  }

  .btn {
    display: flex;
    align-items: flex-end;

    &-blue {
      height: 48px;
      border-radius: 30px;
      padding: 0;
    }
  }

  .i-text {
    height: 48px;
    color: $blueDark;
  }

  .select-ctn {
    margin-top: 11px;
  }

  form {
    position: absolute;
    background-color: $white;
    z-index: 100;
    width: 100%;
    padding: 18px;
    border: 1px solid #E2E8EE;
    box-shadow: 0px 3px 13px #e2e8ee;
    border-radius: 8px;
    display: none;

    @include mq-min ( medium ) {
      background-color: transparent;
      z-index: 0;
      width: auto;
      padding: 18px;
      border: none;
      box-shadow: none;
      border-radius: 0;
      position: relative;
      display: block;
    }

    &.d-block {
      display: block;
    }

    .grid {
      margin-top: 25px;

      @include mq-min ( medium ) {
        margin-top: 25px;
      }
    }

    .grid-columns-five {
      margin-bottom: 0;
      grid-row-gap: 12px;

      @include mq-min ( medium ) {
        margin-bottom: 25px;
        grid-row-gap: 24px;
      }
    }

    .header-filter {
      display: flex;

      @include mq-min ( medium ) {
        display: none;
      }
    }
  }
}
