
.ctn-login {
  margin-top: 105px;
  margin-bottom: 60px;

  @include mq-min(medium) {
    margin-top: 132px;
  }

  .l-title {
    font-size: $size24;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.5px;
    margin-bottom: 26px;

    @include mq-min(medium) {
      font-size: $size26;
      margin-bottom: 48px;
    }

    &-top {
      color: $grayRegular;
      font-size: $size20;

      @include mq-min(medium) {
        font-size: $size26;
      }
    }

    &-down {
      color: $blueDark;
      font-family: $sourceSansSemiBold;
      font-weight: $weight600;
    }
  }

  .m-top {
    margin-top: 42px;

    @include mq-min(medium) {
      margin-top: 60px;
    }
  }
}
