<form [formGroup]="company" >
  <div class="">
    <h2>
      {{ textTitle }}
    </h2>

    <div class="">
      <div class="grid-columns-four">
        <div>
          <app-input-text
            [frmControl]="company.get('name')"
            [nameItem]="'name'"
            [idItem]="'name'"
            [textLabel]="'Nombre de la empresa transportadora'"
            [type]="'text'"
            [placeHolder]="'Ingresa aquí el nombre de la empresa'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="company.get('name').touched"
                            [errors]="company.get('name').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>

        <div>
          <app-input-text
            [frmControl]="company.get('nit')"
            [nameItem]="'nit'"
            [idItem]="'nit'"
            [textLabel]="'NIT'"
            [type]="'text'"
            [placeHolder]="'Ingresa aquí el NIT'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="company.get('nit').touched"
                            [errors]="company.get('nit').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>
      </div>

      <div class="grid-columns-four">
        <div>
          <app-input-text
            [frmControl]="company.get('email')"
            [nameItem]="'email'"
            [idItem]="'email'"
            [textLabel]="'Correo electrónico'"
            [placeHolder]="'Ingresa aquí el correo'"
            [type]="'text'"
          ></app-input-text>

          <div class="text-invalid">
            <app-form-errors *ngIf="company.get('email').touched"
                            [errors]="company.get('email').errors">
              Campo obligatorio
            </app-form-errors>
          </div>
        </div>
      </div>

      <div class="grid-columns-four">
        <div>
          <button [disabled]="!company.valid" (click)="onSubmit()" class="btn-blue" [ngClass]="company.valid ? 'enabled' : 'disabled'">
            {{ textButton }}
          </button>
        </div>
      </div>

      <div class="grid-columns-two">
        <div class="line"></div>
      </div>

      <div class="grid-columns-four">
        <a [routerLink]="['/administrador-transporte/empresas']" routerLinkActive="is-active" class="return">
          <img src="./assets/icons/return.svg" alt="">
        </a>
      </div>
    </div>

    <div *ngIf="message !== ''" [ngClass]="showMessage == 'success' ? 'message-success' : 'message-error'">
      <img src="./assets/icons/close-error.svg" alt="X" (click)="closeError()" *ngIf="showMessage == 'error'" >
      <img src="./assets/icons/check-message.svg" alt="check" *ngIf="showMessage == 'success'" >
      <span>
        {{ message }}
      </span>
    </div>
  </div>
</form>
