<label
  [attr.for]="this.idItem"
  class="font-14 font-400"
>
  {{ this.textLabel }}

  <div class="ctn-i">
    <input
      type="{{ type }}"
      [formControl]="frmControl"
      name="{{ this.nameItem }}"
      id="{{ idItem }}"
      class="i-text"
      [ngClass]="image ? 'i-padding' : 'i-no-padding'"
      placeholder="{{ placeHolder }}"
    />

    <img *ngIf="image"
      [src]="image"
      alt="{{ alt }}"
    >

   <button class="eye" *ngIf="type == 'password'" (click)="showPassword()">
     <img src="./assets/icons/eye.svg" alt="Ver">
   </button>
  </div>
</label>
