<div class="c-breadcrumb">
  <ul class="c-breadcrumb_list">

    <ng-container *ngFor="let breadcrumb of breadcrumbs; last as last">
      <li
      *ngIf="breadcrumb.havePath"
      [routerLinkActive]="['u-bold']"
      [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/'+breadcrumb.url]"
        class="c-breadcrumb_item color-gray-light font-14">
      <span [ngClass]="{'span-without-after': last}" >{{ breadcrumb.label }}</span>
      </li>

      <li
      *ngIf="!breadcrumb.havePath"
      [routerLinkActive]="['u-bold']"
      [routerLinkActiveOptions]="{exact: true}"
        class="c-breadcrumb_item color-gray-light font-14">
      <span [ngClass]="{'span-without-after': last}" >{{ breadcrumb.label }}</span>
      </li>

    </ng-container>

  </ul>


</div><!-- /c-breadcrumb -->
