<div class="cont-flow">

  <div>
    <img src="./assets/icons/error.svg" alt="check">

    <div class="text-title">
      <p>
        {{title}}
      </p>
    </div>

    <div class="text-desc-16">
      {{body}}
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-12 col-xs-12 m-0-auto pdd-0">
        <button class="btn-blue btn-person" (click)="return()">
          {{textButton}}
        </button>
      </div>
    </div>
  </div>
</div>
