.c-nav {
  position: fixed;
  background-color: #333333bf;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 400;

  @media (min-width: 768px) {
    z-index: 100;
  }

  &_list {
    display: block;
    background-color: #FAFBFD;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0px;
    padding: 0px 18px;

    @media (min-width: 768px) {
      padding: 20px;
    }
  }

  &_item {
    margin-right: 42px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.5px;
    color: #00005B;
    padding: 2px 0px;
    font-size: 26px;
    padding-bottom: 18px;

    @media (min-width: 768px) {
      padding-bottom: 0;
    }

    &:hover {
      font-weight: 600;
    }
  }

  &_logout {
    display: block;
    border-top: 0.5px solid #D6D6D6;
    margin: 0;
    padding-top: 18px;
  }

  .li-close {
    display: flex;
    justify-content: flex-end;
    height: 72px;
    margin: 0;
    padding: 0;

    button {
      font-size: 14px;
      display: flex;
      align-items: center;
    }

    @media (min-width: 769px) {
      display: none;
    }
  }

  @media (min-width: 769px) {
    border-radius: 1px;
    border-bottom: 1px solid rgb(51 51 51 / 0.1);
    background-color: #FAFBFD;
    position: relative;

    &_list {
      display: flex;
      position: relative;
      width: 100%;
      padding: 0;
      padding-bottom: 10px;
      padding-top: 40px;
    }

    &_item {
      margin-right: 42px;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.1px;
    }

    &_logout {
      display: none;
    }
  }
}

/*--ESTILOS DEL MENU--*/
#acordeon{
  margin: 50px auto;
  background: white;
  width: 30%;
  min-width:150px;
}
#acordeon h3{
  background: #b7b7b7;
  color: white;
  cursor: pointer;
  padding:5px;
  font-size: 14px;
  border-top:1px solid;
}

#acordeon a{
  color:#919191;
  font-size: 14px;
  padding: 5px 5px;
  display:block;
  transition: all .2s;
  -webkit-box-sizing: border-box;
}
#acordeon a:hover{
  color:#ffffff;
  background: #898989;
  border-left: 7px solid #ff872b;
}
.fa-tasks, .fa-calendar-o, .fa-thumbs-o-up{
  margin-right: 7px;
}

.item > div{
  transition: max-height .5s;
  overflow: hidden;
}

.item:not(:nth-child(1)) > div {
  max-height: 0;
}

.is-active {
  font-weight: 700;
  font-family: "source-sans-bold";

  @media (max-width: 768px) {
    text-decoration: underline;
  }
}
