<nav class="c-nav bg-white row row--no-margin middle-sm m-0">
  <ul class="c-nav_list">
    <li class="c-nav_item c-nav_logout li-close">
      <button (click)="toogleMenu()">
        Cerrar

        <img src="./assets/icons/close.svg" alt="">
      </button>
    </li>

    <li *ngFor="let item of items" class="c-nav_item">
      <a *ngIf="item.path !== '#'" [routerLink]="item.path" routerLinkActive="is-active" class="c-nav_link color-blue-dark" (click)="toogleMenu()">
        {{item.name}}
      </a>

      <a *ngIf="item.path === '#'" class="c-nav_link color-blue-dark" (click)="toogleMenu()">
        {{item.name}}
      </a>
    </li>

    <li class="c-nav_item c-nav_logout">
      <button (click)="logout()">
        <img src="./assets/icons/exit.svg" alt="">
      </button>
    </li>
  </ul>
</nav>
