<div class="transaction">
  <div class="row m-0 j-between a-center ctn-title-content">
    <h1>
      Demanda
    </h1>
  </div>

  <form (ngSubmit)="continue()" [formGroup]="dataForm" [ngClass]="closeFil ? 'd-block' : ''">
    <div class="d-flex j-between header-filter">
      <div>
        Filtros
      </div>

      <div (click)="closeFilter('cerrar')">
        <img src="./assets/icons/close.svg" alt="X">
      </div>
    </div>

    <div class="grid-columns-five grid">
      <div>
        <app-select
          [frmControl]="dataForm.get('transporter')"
          [nameSelect]="'transporter'"
          [idSelect]="'transporter'"
          [textSelect]="'Punto de recogida:'">
          <option value="" disabled selected>Seleccione una opción</option>
          <option *ngFor="let point of listPoints" [value]="point.rowKey">
            {{ point.nombrePunto }}
          </option>
        </app-select>

        <div class="text-invalid">
          <app-form-errors *ngIf="dataForm.get('transporter').touched"
                          [errors]="dataForm.get('transporter').errors">
            Campo obligatorio
          </app-form-errors>
        </div>
      </div>

      <div class="font-14">
        Fecha de transporte:
        <div class="cont-calendar"
        [owlDateTimeTrigger]="dtb">
            <input
              [placeholder]="''"
              formControlName="date"
              [owlDateTimeTrigger]="dtb"
              [owlDateTime]="dtb"
              required
              class="i-text date-ph pdd-x-22"/>
              <span class="cont-icon">
                <img src="./assets/icons/down-calendar.svg" alt="down" [owlDateTimeTrigger]="dtb">
              </span>
          <owl-date-time
            [pickerType]="'calendar'"
            #dtb
          ></owl-date-time>
        </div>
      </div>

      <div class="btn">
        <button class="btn-blue">
          Consultar
        </button>
      </div>

    </div>
  </form>

  <div class="export">
    <div class="btn-filter">
      <button (click)="closeFilter('abrir')" class="d-flex">
        <span>
          Filtrar
        </span>

        <img src="./assets/icons/search.svg" alt="Lupa">
      </button>
    </div>
  </div>

  <app-table [headTable]="headTable">
    <tr *ngFor="let demand of listDemand" class="d-block">

      <td class="w-170" data-th="Fecha de transporte">
        {{ demand.fechaTransporte }}
      </td>

      <td class="w-170" data-th="Punto de recogida">
        {{ demand.puntoRecogida }}
      </td>

      <td class="w-170" data-th="Total de personas">
        {{ demand.totalPersonas }}
      </td>

    </tr>
  </app-table>
</div>
