<div class="l-dashboard">
  <header class="l-header">
    <app-header-qr></app-header-qr>
  </header>

  <div class="l-content">
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>

  <footer class="l-footer">
    <app-footer-qr></app-footer-qr>
  </footer>
</div>
