<div class="cont-flow">

  <div>
    <img src="./assets/icons/park.svg" alt="check">

    <div class="text-title">
      <p>
        Hola Álvaro,
      </p>
    </div>
  </div>

  <div>
    <form (ngSubmit)="continue()" [formGroup]="dataForm">
      <div
        class="section-form"
      >
        <div class="ctn-fields">
          <div class="ctn-input">
            <p class="text-title-sub">
              ¿Qué deseas hacer?
            </p>

            <div class="grid-columns-two">
              <div class="card" *ngFor="let option of optionsRadio" >
                <div class="list">
                  <label for="titular{{option.id}}">
                    <input type="radio" id="titular{{option.id}}" name="radio" formControlName="radio" value="{{option.id}}">

                    <div class="d-flex j-between pdd-18 font-14">
                      {{option.name}}

                      <span class="check c-blue">
                        <img src="./assets/icons/check-radio.svg" alt="check">
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 m-b-36">
          <div class="col-md-6 col-sm-12 col-xs-12 m-0-auto pdd-0">
            <app-input-text
              [frmControl]="dataForm.get('code')"
              [nameItem]="'code'"
              [idItem]="'code'"
              [textLabel]="'Código de reserva '"
              [type]="'text'"
              [placeHolder]="'Ingresa el código de reserva'">
            </app-input-text>

            <div class="text-invalid mg-t-10" *ngIf="dataForm.get('code').touched">
              <app-form-errors *ngIf="dataForm.get('code').touched"
                              [errors]="dataForm.get('code').errors">
                Campo obligatorio
              </app-form-errors>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-12 col-xs-12 m-0-auto pdd-0">
            <button class="btn-blue btn-person" (click)="continue()">
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


